/* Hero MainVisual CSS */
.hero_main_wrap {
    width: 100%;
    height: auto;
}

.hero_main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero_slide_wrap {
    width: 100%;
    height: 100%;
}
/* slide_1 CSS---------------------------- */
.hero_slide_wrap .slide_1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_1 video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slide_1 .cont_box {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 150px;
    z-index: 2;
}
/* slide_2 CSS---------------------------- */
.slide_2 {
    position: absolute;
    background-image: url(../img/slide_img01.jpg);
    width: 100%;
    height: 100%;
    z-index: 100;
}
/* slide_3 CSS---------------------------- */
.slide_3 {
    background-image: url(../img/slide_img02.jpg);
    width: 100%;
    height: 100%;
}
.cont_box h3 {
    font-size: 48px;
    line-height: 68px;
    color: rgb(255, 255, 255);
    letter-spacing: -1;
}

.cont_box a {
    display: block;
    background-image: url(../img/main_slide_btn.png);
    background-size: contain;
    width: 299px;
    height: 46px;
    margin-top: 30px;
    transition-duration: 0.3s;
}

.cont_box a:hover {
    background-image: url(../img/main_slide_btn_on.png);
}


.slide_btn_box {
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    padding: 0 150px;
    display: flex;
}

.slide_btn_box .swiper_button_prev {
    background-image: url(../img/main_prev_btn_w.png);
    background-size: cover;
    width: 48px;
    height: 48px;
    transition-duration: 0.3s;
}

.slide_btn_box .swiper_button_prev:hover {
    background-image: url(../img/main_prev_btn.png);
}

.slide_btn_box .swiper_button_next {
    background-image: url(../img/main_next_btn_w.png);
    background-size: cover;
    width: 48px;
    height: 48px;
    margin: 0 0 0 24px;
    transition-duration: 0.3s;
}

.slide_btn_box .swiper_button_next:hover {
    background-image: url(../img/main_next_btn.png);
}



.next_sect_btn {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 66px;
    transform: translateX(-50%);
}
.next_sect_btn button {
    background-image: url(../img/down_arrow_w.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 64px;
    height: 62px;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition-duration: 0.3s;
    /* 애니메이션 */
    animation: arrowMove 1.6s infinite;
}
.next_sect_btn button:hover {
    background-image: url(../img/down_arrow_g.png);
}

@keyframes arrowMove {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}



/* 네이버 클라우드 소개 CSS */
.cloud_introduce {
    width: 100%;
    height: auto;
}

.introduce_cont {
    width: 100%;
    max-width: 1479px;
    padding: 142px 90px 152px;
    margin: 0 auto;
    text-align: center;
}
.eyebrow {
    font-size: 18px;
    font-family: 'NanumSquare','Noto Sans KR', sans-serif;
    font-weight: 700;
    line-height: 20px;
    color: rgb(30, 30, 30);
    margin: 0 0 36px; 
}
.introduce_cont h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    color:rgb(30, 30, 30);
    margin: 0 0 48px;
}
.introduce_cont h3 span {
    color: rgb(170, 170, 170);
}

.black_btn a {
    display: inline-block; 
    font-size: 15px;
    font-weight: 700;
    line-height: 54px;
    padding: 0 40px;
    background-color: rgb(30, 30, 30);
    border-radius: 27px;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.black_btn a:hover {
    background-color: rgb(3, 199, 90);
}


/* 네이버 클라우스 서비스 안내 부분 CSS */
.cloud_service {
    width: 100%;
    height: auto;
    background-color: rgb(249, 249, 249);
}

.service_cont {
    width: 100%;
    height: 860px;
    max-width: 1479px;
    padding: 0 90px;
    margin: 0 auto;
    display: flex;
}

.cont_box_left {
    padding: 190px 0;
    width: 50%;
}

.cont_box_left h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 48px;
}

.cont_box_left h3 span {
    color: rgb(170, 170, 170);
}

.cont_box_right {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.row_1 {
    width: 43%;
    margin: 0 6% 0 0;
    animation: verticalscroll 180s linear infinite;
}
.row_1 li {
    position: relative;
    margin: 32px 0 0 0;
}
.row_1 li p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(255, 255, 255);
    position: absolute;
}
.row_1 li img{
    width: 100%;
    display: block;
    border-radius: 25px;
}

.row_2 {
    width: 43%;
    margin: -160px 0 0 0;
    animation: verticalscroll 180s linear infinite;
}
.row_2 li {
    position: relative;
    margin: 32px 0 0 0;
}
.row_2 li p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: rgb(255, 255, 255);
    position: absolute;
}
.row_2 li img{
    width: 100%;
    display: block;
    border-radius: 25px;
}

@keyframes verticalscroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(-8448px); }
}

/* IT생태계 안내 부분  CSS */
.cloud_ecosystem {
    width: 100%;
    height: auto;
    position: relative;
}

.ecosystem_cont {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ecosystem_cont_1 {
    position: relative;
    width: 100%;
    max-width: 1479px;
    height: 894px;
    padding: 0 90px;
    margin: 0 auto;
    z-index: 5;
    display: flex;
}
.ecosystem_cont_text {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
}
.ecosystem_cont_img img {
    position: absolute;
    width: 360px;
    height: 360px;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
}
.ecosystem_cont_text .eyebrow {
    color: rgb(255, 255, 255);
}

.ecosystem_cont_text h3 {
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 48px;
}

.ecosystem_cont_text .white_btn a {
    display: inline-block; 
    font-size: 15px;
    font-weight: 700;
    line-height: 54px;
    padding: 0 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 27px;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.ecosystem_cont_text .white_btn a:hover {
    background-color: rgb(3, 199, 90);
    border: 1px solid rgb(3, 199, 90);
}

.ecosystem_cont video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.cloud_ecosystem .next_sect_btn {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 66px;
    transform: translateX(-50%);
}

.cloud_ecosystem .next_sect_btn button {
    background-image: url(../img/down_arrow_w.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 64px;
    height: 62px;
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition-duration: 0.3s;
    /* 애니메이션 */
    animation: arrowMove 1.6s infinite;
}
.cloud_ecosystem .next_sect_btn button:hover {
    background-color: url(../img/down_arrow_g.png);
}


/* 네이버 새로운 소식 & 공지사항 CSS */

/*----네이버 소식 CSS----*/
.naver_news_wrap {
    width: 100%;
    height: auto;
}

.naver_news {
    width: 100%;
    max-width: 1476px;
    height: auto;
    padding: 202px 90px 120px;
    margin: 0 auto;
}

.naver_news h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    color:rgb(30, 30, 30);
    margin: 0 0 48px;
}
.naver_news h3 span {
    color: rgb(170, 170, 170);   
}

.news_cont {
    display: flex;
    margin: 0 0 48px 0;
}
.news_cont li {
    width: calc(25% - 16px);
    margin: 0 0 0 32px;
}
.news_cont li:first-child {
    margin: 0;
}

.news_cont_img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.news_cont li a .hover_dark_bg {
    border-radius: 24px;
    transition-duration: 0.3s;
}
.news_cont li a:hover .hover_dark_bg {
    position: absolute;
    background-color: rgba(30, 30, 30, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news_cont li img {
    width: 100%;
    border: 1px solid rgba(30, 30, 30, 0.1);
    border-radius: 24px;
    vertical-align: top;
}

.news_cont li a p {
    transition-duration: 0.3s;
}
.news_cont li a:hover p {
    color: rgb(3, 199, 90);
}
.news_cont_text p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.3px;    
    color: rgb(30, 30, 30);
    margin: 20px 0;
}
.news_cont_text span {
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(170, 170, 170);
}

.naver_news .white_btn {
    text-align: center;
}
.naver_news .white_btn a {
    display: inline-block; 
    font-size: 15px;
    font-weight: 700;
    line-height: 54px;
    padding: 0 40px;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 27px;
    color: rgb(30, 30, 30);
    transition-duration: 0.3s;
}
.naver_news .white_btn a:hover {
    background-color: rgb(3, 199, 90);
    border: 1px solid rgb(3, 199, 90);
    color: rgb(249, 249, 249);
}

/*----네이버 공지사항----*/
.naver_notice {
    display: flex;
    margin: 90px 0 0 0;
}

.naver_notice li {
    width: calc(50% - 16px);
    padding: 28px 28px 32px 36px;
    border-radius: 24px;
    margin: 0 32px 0 0;
}
.naver_notice li .eyebrow2 {
    font-family: 'Calibre-webfont', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 0 0 18px 0;
}
.notice_cont_text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.notice_cont_text p {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(255, 255, 255);
}
.naver_notice li:first-child {
    background-color: rgb(3, 199, 90);
}
.naver_notice li:last-child {
    margin: 0;
    background-color: rgb(7, 180, 235);
}
.notice_cont_text .black_btn {
    line-height: 46px;
}
.naver_notice .black_btn a:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(30, 30, 30);
}