
/* Header */

header .header-container {
   display: block;
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
   background-color: transparent;
   z-index: 100;
}
header .header-container.hide {
   display: none;
}


header .header-wrap {
   position: relative;
   background-color: #fff;
}
.wrap.pc .sub-header, 
.wrap.pc .header-wrap, 
.wrap.pc .top-line {
   transition-property: all;
   transition-duration: 650ms;
   transition-timing-function: ease;
   transition-delay: 0s;
}
header .header-wrap .box {
   padding: 29px 150px;
   position: relative;
}
header .header-wrap h1 {
   width: 182px;
   height: 20px;
   display: inline-block;
}
header .header-wrap h1 a { 
   display: block;
   width: 100%;
   height: 100%;
   background: url(../img/main_logo.svg) no-repeat;
   background-size: contain;
}
header .header-wrap .header-nav {
   position: relative;
   float: right;
}
.wrap.pc header .header-wrap .header-nav {
   display: flex;
}
header .header-wrap .header-nav ul {
   display: inline-block;
}
header .header-wrap .header-nav ul li {
   float: left;
}
header .header-wrap .header-nav ul li div {
   padding: 0 24px;
}
header .header-wrap .header-nav ul li div a {
   color: #aaa;
}
header .header-wrap .header-nav ul li div a:hover {
   color: rgb(3, 199, 90);
}
header .header-wrap .header-nav ul li a {
   display: block;
   position: relative;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.3;
   transition: .3s;
}
header.on .header-wrap .header-nav ul li.active a:before {
   content:'';
   display: block;
   width: 0;
   height: 2px;
   background-color: #03c75a;
   position: absolute;
   top: auto;
   right: auto;
   bottom: -12px;
   left: 50%;
   -webkit-transform:translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: width .3s;
   transition: width .3s;
}
header .header-wrap .header-nav .m-menu .m-nav ul li a:before {
   display: none;
}
header .header-wrap .header-nav ul li.out-link div {
   padding: 0 12px 0 24px;
}
header .header-wrap .header-nav ul li.out-link a i {
   display: inline-block;
   width: 24px;
   height: 24px;
   color: transparent;
   text-indent: -9999px;
   overflow: hidden;
   vertical-align: middle;
   background-image: url(../img/outlink_icon.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   transition: .3s;
   opacity: 0;
   visibility: hidden;
   transform: translateX(-20%);
}
header .header-wrap .header-nav ul li.out-link a:hover i {
   visibility: visible;
   opacity: 1;
}
header .header-wrap .header-nav ul li.active div a {
   color: rgb(3, 199, 90);
}
header .header-wrap .header-nav ul li.active a:before {
   width: 100%;
}
header .header-wrap .header-nav .lang-cont {
   display: inline-block;
   margin-left: 66px;
   position: relative;
}
header .header-wrap .header-nav .lang-cont .lang-btn {
   display: inline-block;
   margin-top: -2px;
   padding: 0;
   width: 24px;
   height: 24px;
   background-image: url(../img/global_icon_b.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   transition: .3s;
}
header .header-wrap .header-nav .lang-cont.active .lang-btn {
   background-image: url(../img/global_icon_g.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
header .header-wrap .header-nav .lang-cont ul {
   display: none;
   padding: 12px;
   width: 112px;
   position: absolute;
   top: 40px;
   right: 0;
   background-color: #fff;
   border: 1px solid #eee;
   border-radius: 8px;
}
header .header-wrap .header-nav .lang-cont ul li {
   display: block;
   margin-bottom: 4px;
   float: none;
   text-align: center;
}
header .header-wrap .header-nav .lang-cont ul li:nth-child(2) a.en {
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 0;
}
header.on .header-wrap .header-nav .lang-cont ul li a.active {
   color: #fff;
   background-color: #03c75a;
}
header.on .header-wrap .header-nav .lang-cont ul li:hover a {
   background-color: #f3f3f3;
}
header.on .header-wrap .header-nav .lang-cont ul li:hover a.active {
   background-color: #03c75a;
}
header.on .header-wrap .header-nav .lang-cont ul li a {
   display: block;
   padding: 8px 16px;
   float: none;
   text-align: center;
   font-size: 14px;
   font-weight: 700;
   color: #1e1e1e;
   background-color: #fff;
   border-radius: 4px;
}
header .header-wrap .header-nav ul {
   display: block;
}

header .header-wrap .m-menu {
   display: none;
   width: 32px;
   height: 32px;
   position: absolute;
   right: 0;
   top: -8px;
   z-index: 10;
}
header .header-wrap .m-menu .m-nav.active {
   display: block;
}
header .header-wrap .m-menu span {
   background-color: #1e1e1e;
   width: 20px;
   height: 2px;
   display: block;
   position: absolute;
   top: 8px;
   left: 6px;
   transition: .25s ease-in-out;
   -webkit-transition: .25s ease-in-out;
   transform-origin: left center;
}
header .header-wrap .m-menu span:nth-child(2) {
   top: 15px;
   transform-origin: left center;
}
header .header-wrap .m-menu span:nth-child(3) {
   top: auto;
   bottom: 8px;
   transform-origin: left center;
}
header .header-wrap .m-nav.active {
   right: 0;
}
header .header-wrap .m-nav {
   position: fixed;
   padding: 0 90px;
   width: 100%;
   height: 100%;
   background-color: #fff;
   top: 0;
   right: -100%;
   z-index: 200;
   transition: ease .4s;
}
header .header-wrap .m-nav .top {
   padding: 21px 0;
   position: relative;
}
header .header-wrap .m-nav .top a.logo {
   width: 144px;
   height: 17px;
   color: transparent;
   text-indent: -9999px;
   overflow: hidden;
   background: url(../img/main_logo.svg) no-repeat;
   background-size: contain;
}
header .header-wrap .m-nav .top a.close-btn {
   width: 32px;
   height: 32px;
   position: absolute;
   top: 13px;
   right: 0;
   color: transparent;
   text-indent: -9999px;
   overflow: hidden;
   background-image: url(../img/close_btn.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
header .header-wrap .m-nav ul {
   width: 100%;
   height: 100%;
}
header .header-wrap .m-nav ul li {
   float: none;
   padding: 0;
}
header .header-wrap .m-nav ul li.active a {
   color: #03c75a;
}
header .header-wrap .m-nav ul li div a:hover {
   color: #1e1e1e;
}
header .header-wrap .m-nav ul li.active a:hover {
   color: #03c75a;
}
header .header-wrap .m-nav ul li div {
   padding: 18px 0;
   text-align: left;
   border-bottom: 1px solid #eee;
}
header .header-wrap .m-nav ul li div a {
   position: relative;
   font-size: 18px;
   font-weight: 700;
   color: #aaa;
}
header .header-wrap .m-nav ul li.out-link div {
   padding: 18px 0;
}
header .header-wrap .m-nav ul li.out-link a i {
   display: inline-block;
   position: absolute;
   right: 0;
   opacity: 1;
   visibility: visible;
   background: url(../img/mo_outlink_icon.png) no-repeat;
   background-size: cover;
}
#top-line {
   width: calc(100% - 300px);
   height: 1px;
   background-color: rgb(238,238,238);
   position: absolute;
   left: 150px;
   top: 0;
   z-index: 105;
   opacity: 0;
}
#top-line.show {
   top: 82px;
   z-index: 105;
   opacity: 1;
   /* position: fixed; */
}


/* Sub Header CSS */
.sub-header {
   opacity: 1;
   top: 392px;
   position: absolute;
   z-index: 99;

   width: 100%;
   left: 0;
   height: 72px;
   border-bottom: 1px solid #eee;
   background-color: #fff;
}
.sub-header ul {
   padding: 0 150px;
}
.sub-header ul li {
   padding: 22px 0;
   float: left;
}
.sub-header ul li a {
   position: relative;
   border-radius: 20px;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.3;
   background-color: transparent;
   color: #aaa;
   transition: .3s;
   padding: 9px 32px;
}
.sub-header ul li:first-child a {
   padding: 9px 32px;
}
.sub-header ul li a.active {
   color: #fff;
   background-color: #03c75a;
}
.sub-header ul li:hover a {
   color:rgb(3, 199, 90);
}
.sub-header ul li:hover a.active {
   color: #fff;
}
.sub-header ul li a.pc {
   display: block;
}
.cloud-link-btn {
   width: 272px;
   height: 42px;
   background-image: url(../img/cloud_slide_btn.png);
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   top: 15px;
   right: 150px;
   /* transition: .2s; */
}
.cloud-link-btn:hover {
   background-image: url(../img/cloud_slide_btn_on.png);
}



@media only screen and (max-width: 1596px) {
   /* Header 1596 */
   header .header-wrap .box {
      margin: 0 auto;
      padding: 29px 90px;
      position: relative;
   }
   /* Sub Header 1596 */
   #sub-header ul {
      margin: 0 auto;
      padding: 0 90px;
      max-width: 1476px;
   }
   .cloud-link-btn {
      right: 90px;
   }
}

@media only screen and (max-width: 1280px) {
   /* Header 1280 */
   header .header-wrap .box {
      padding: 29px 90px;
   }
   header .header-wrap h1 {
      width: 144px;
      height: 17px;
   }
   
   header .header-wrap .m-menu {
      display: block;
   }
   header .header-wrap .header-nav .lang-cont {
      margin-left: 0;
      position: absolute;
      top: -2px;
      right: 46px;
   }
   .wrap.pc header .header-wrap .header-nav > ul {
      display: none;
   }
   /* Sub Header 1280 */
   #sub-header {
      top: 392px;
      transition: all 0ms ease 0ms;
   }
   #top-line {
      width: calc(100% - 180px);
      left: 30px;
   }
   #top-line.show {
      top: 61px;
   }
}

@media only screen and (max-width: 1024px) {
   /* Header 1024 */
   header .header-wrap .box {
      padding: 30px;
   }
   header .header-wrap .m-nav {
      padding: 0 30px;
   }
   /* Sub Header 1024 */
   #sub-header {
      top: 392px; 
   }
   #sub-header ul {
      padding: 0 30px;
   }
   .cloud-link-btn {
      right: 30px;
   }
   #sub-header ul li:first-child a {
      padding: 9px 20px;
   }
   #top-line {
      width: calc(100% - 60px);
      left: 30px;
   }
   #top-line.show {
      top: 61px;
   }
   
}

@media only screen and (max-width: 767px){
   /* Header 767 */
   .mo.cloud header .header-wrap {
      top: 0;
   }
   header .header-wrap .box {
      padding: 20px 24px;
   }
   header .header-wrap .m-nav {
      padding: 0 24px;
      z-index: 200;
   }
   .mo.cloud #top-line.show {
      top: 61px;
      z-index: 105;
      opacity: 1;
      position: fixed;
      transition-duration: 700ms;
   }
   .mo.cloud #top-line {
      width: calc(100% - 48px);
      height: 1px;
      background-color: rgb(238,238,238);
      position: absolute;
      left: 24px;
      top: 0;
      z-index: 105;
      opacity: 0;
   }
      
   /* Sub Header 767 */
   #sub-header {
      padding: 0 24px;
      height: 60px;
      top: 276px;
      transition-duration: 0ms;
      width: 100%;
      background-color: #fff;
      display: block;
      position: absolute;
      z-index: 100;
      margin-top: 0;
      transition-duration: 650ms;

   }
   #sub-header ul {
      padding: 0;
   }
   #sub-header ul li a {
      padding: 10px 16px;
      font-size: 14px;
      font-weight: 700;
   }
   #sub-header ul li:first-child a {
      padding: 10px 16px;
   }
   .cloud-link-btn {
      display: none;
   }
}