/* NanumSquare font */
@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareL.woff);
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareR.woff);
  font-weight: 500;
}

@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareB.woff);
  font-weight: 600;
}

@font-face {
  font-family: "NanumSquare";
  src: url(../font/NanumSquareEB.woff);
  font-weight: 700;
}

/* calibre (En) font */

@font-face {
  font-family: "Calibre-webfont";
  src: url(../font/calibre-web-regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Calibre-webfont";
  src: url(../font/calibre-web-semibold.woff);
  font-weight: 600;
}

body {
  font-family: "NanumSquare", "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #222;
  line-height: 1.3;
  letter-spacing: -0.3px;
}

/* font style */

h3 {
  font-family: "NanumSquare", "Noto Sans KR", sans-serif;
  font-size: 48px;
  line-height: 68px;
}
