.m_foot{
  display: none;
}
footer {
  width: 100%;
  height: auto;
  background-color: rgb(249, 249, 249);
}

.footer_wrap {
  width: 100%;
  max-width: 1476px;
  padding: 50px 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer_left {
  width: calc(100% - 156px);
}
.footer_left img {
  width: 164px;
}
.naver_copyright {
  color: rgb(170, 170, 170);
  line-height: 20px;
  letter-spacing: -0.3px;
  margin: 30px 0 20px;
}
.naver_copyright p{
  font-size: 12px;
    line-height: 20px;
    color: #aaa;
}
.naver_copyright p:last-child {
  font-family: "Calibre-webfont", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.naver_etc_link {
  display: flex;
}
.naver_etc {
  display: flex;
  margin-right: 5%;
  margin-bottom: 10px;
}
.naver_etc a {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: rgb(153, 153, 153);
  transition-duration: 0.3s;
}
.naver_etc .right_info{
  margin-left:24px; 
}
.naver_etc a:hover {
  color: rgb(3, 199, 90);
}
.naver_etc p:last-child a {
  margin: 0 0 0 24px;
}
.naver_social {
  display: flex;
}

.naver_social li {
  margin: 0 0 0 24px;
}
.naver_social li:nth-child(1) {
  margin-left: 0;
}
.naver_social li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: rgb(204, 204, 204);
  transition-duration: 0.3s;
}
.naver_social li a:hover {
  color: rgb(3, 199, 90);
}
.footer_right .famliy_site {
  position: relative;
  margin-bottom: 88px;
  display: inline-block;
}

.footer_right .list_btn {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #999;
  display: inline-block;
  padding: 0 42px 0 14px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  letter-spacing: -0.3px;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.footer_right .list_btn:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 13px;
  right: 14px;
  background: url(../images/footer_open.png) no-repeat center;
  background-size: cover;
  transition: 0.3s;
}
.footer_right .list_btn:hover {
  background-color: var(--black-color);
}
.footer_right .famliy_site .clfix {
  display: none;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  bottom: 48px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}
.footer_right .famliy_site ul li {
  position: relative;
  padding: 6px 14px;
}
.footer_right .famliy_site ul li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #1e1e1e;
  transition: 0.3s;
}
/* on class */
.footer_right .famliy_site .clfix.on {
  display: block;
}
.footer_right .famliy_site.on .list_btn:after {
  transform: rotate(45deg);
}
.footer_right .famliy_site.on .list_btn.on:after {
  transform: rotate(45deg);
}



@media screen and (max-width: 1024px) {
  .footer_wrap{
    padding:50px 30px;
    margin:0 auto;
  }
 
}
  @media screen and (max-width: 906px) {
    .naver_etc_link{display: block;}
    .naver_etc{
      display: inline-block;
      margin-right: 5%;
      margin-bottom:10px;
    }
    .naver_social{
      display: inline-block;
    }
    .naver_social li{
      display: inline-block;
    }
    @media screen and (max-width: 767px) {
      footer .footer_wrap{
        display: none;
      }
      footer .m_foot{
        display: block;
        padding:35px 24px 24px;
      }
      .m_foot img{
        margin-bottom:26px;
        width:144px;
      }
      .m_foot .link_social{
        margin-bottom: 12px;
      }
      .m_foot .link_social ul li{
        margin-right: .8%;
        width:16%;
        text-align: center;
        display: inline-block;
      }
      .m_foot .link_social ul li:nth-child(6){
        margin-right: 0;
      }
      .m_foot .link_social ul.clifx li a{
        display: block;
        width:48px;
        height:48px;
        color: transparent;
        text-indent: -9999px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin:0 auto;
      }
      .m_foot .link_social ul li:first-child a{
        background-image: url(../images/foot_mo_blog.png);
      }
      .m_foot .link_social ul li:nth-child(2) a{
        background-image: url(../images/foot_mo_facebook.png);
      }      
      .m_foot .link_social ul li:nth-child(3) a{
        background-image: url(../images/foot_mo_navertv.png);
      }      
      .m_foot .link_social ul li:nth-child(4) a{
        background-image: url(../images/foot_mo_youtube.png);
      }      
      .m_foot .link_social ul li:nth-child(5) a{
        background-image: url(../images/foot_mo_medium.png);
      }      
      .m_foot .link_social ul li:nth-child(6) a{
        background-image: url(../images/foot_mo_linkedin.png  );
      }
      .m_foot .family_site{
        margin-bottom: 12px;
        display:block;
        position: relative;
      }
      .m_foot .family_site .clfix{
        display: none;
        padding: 8px 0;
        width: 100%;
        position: absolute;
        bottom: 48px;
        text-align: left;
        border: 1px solid #eee;
        border-radius: 4px;
        background-color: #fff;
      }
      /* on 은 가상 클래스, display:none이었던게 block으로 보이게~*/
      .m_foot .family_site .clfix.on{
        display: block;
      }
     
      .m_foot .family_site.on .list_btn:after{
        transform: rotate(45deg);     
      }
   
    
      
      /* .footer_right .famliy_site.on .list_btn:after {
        transform: rotate(45deg);
      }
      .footer_right .famliy_site.on .list_btn.on:after {
        transform: rotate(45deg);
      } */
      
      
      
      .m_foot .family_site .list_btn{
        position: relative;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: #999;
        display: inline-block;
        padding: 0 42px 0 14px;
        text-align: left;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        border-radius: 5px;
        letter-spacing: -0.3px;
        border:none;
        outline: none;
      }
      .m_foot .family_site .list_btn:after{
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 13px;
        right: 14px;
        background: url(../images/footer_open.png)no-repeat center;
        background-size: cover;
        transition: .3s;
      }
      .m_foot .family_site ul li{
        padding:6px 14px;
        position: relative;
      }
      .m_foot .family_site ul li a{
        font-size: 13px;
        font-weight: 700;
        letter-spacing: -0.3px;
        color: #1e1e1e;
        transition: .3s;
      }
      .m_foot .link_txt{
        margin-bottom:22px;
      }
      .m_foot .link_txt a{
        display: inline-block;
        margin-right: 20px;
        font-size: 12px;
        font-weight: 700;
        color:#666;
      }
      .m_foot .link_txt a i{
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/mo_right_arrow.png)no-repeat center;
        background-size: cover;
      }
      .m_foot .copyright_txt_t p{
        line-height:1.6;
        font-size: 12px;
        color: #999;
      } 
      .m_foot .copyright_txt_t p b{
        font-size: 12px;
        font-weight: 700;
        color: #999;
      }
      
      .m_foot .copyright_txt_b{
        margin-bottom:0;
      }
      .m_foot .copyright_txt_b .en{
        font-size: 14px;
        margin-top: 5px;
        font-weight: 500;
        letter-spacing: 0px;
        color:#999;
        font-family: 'Calibre-webfont', sans-serif;
      }
    }